@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto Mono', sans-serif !important;
}

/* botao scroll to top */
#scrollToTopBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    border: none;
    width: 48px;
    height: 48px;
    font-size: 1.25rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#scrollToTopBtn.visible {
    opacity: 1;
}
