{% extends "layout.html" %}

{% block content %}
    <!-- Content -->
    <div class="container mt-5">
        <div class="row text-center">
            {% if error %}
                <h2 class="text-danger">{{ error }}</h2>
                <h2><a class="btn btn-primary mt-3" href="/"><i class="bi bi-arrow-left"></i>&ensp;Voltar</a></h2>
            {% else %}
                <h2 class="text-success">Sucesso! Redirecionando...</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}