{% extends "layout.html" %}

{% block content %}
    <!-- Content -->
    <div class="container mt-5">
        <div class="row mx-auto w-75 text-center">
            <h1 class="display-3">GitHub Profiles</h1>
            <h4>Explore perfis, repositórios e contribuições diretamente da API do GitHub!</h4>
            <p class="mt-3">Este projeto, desenvolvido com Python e Flask, tem como objetivo demonstrar o consumo de APIs externas de forma eficiente e dinâmica. Através dele, é possível buscar informações detalhadas sobre usuários do GitHub, listar seus repositórios públicos e visualizar estatísticas como número de estrelas, forks e linguagens utilizadas. Além disso, a aplicação conta com uma interface simples e intuitiva, tornando a navegação fácil e acessível.</p>
            <p>Para mais informações, visite o <a href="https://github.com/luan-campos/github-profiles" target="_blank">Repositório no GitHub</a>.</p>
        </div>
        <div class="row text-center mt-4">
            <h2><a class="btn btn-primary btn-lg shadow" href="/login"><i class="bi bi-box-arrow-up-right"></i>&ensp;Fazer login com GitHub</a></h2>
        </div>
    </div>
{% endblock %}